[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "<1.0,>=0.115"
python-multipart = "<1.0,>=0.0.20"
tinydb = "<5.0,>=4.8"
email-validator = "<3.0,>=2.2"
uvicorn = {extras = ["standard"], version = "<1.0,>=0.34"}

[dev-packages]

[requires]
python_version = "3.14"
